# for git-changelog (https://github.com/dannyben/git-changelog)
export CHANGELOG_COMMIT_URL=https://github.com/bashly-framework/bashly/commit/%h
export CHANGELOG_COMPARE_URL=https://github.com/bashly-framework/bashly/compare/%s

# include the debug gem
export DEBUGGER=1

# Local bashly-book checkout used by the release.md Retype checks
export BASHLY_SITE_DIR=/path/to/bashly-book
